* {
  margin: 0;
  box-sizing: border-box;
}

/* base styles */
html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

/* adding header styles for mobile version */
.logo {
  margin: 25px;
  height: 20px;
  width: 90px;
}

.hero-image {
  width: 100%;
  object-fit: contain;
}

/* content */
h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 0.5rem;
  line-height: 2.2rem;
  font-size: 2rem;
}

.we-are {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

section p {
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  line-height: 1.3rem;
  margin-bottom: 20px;
  color: hsl(0, 36%, 70%);
}

form {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.email-input {
  padding: 10px 20px;
  border-radius: 20px;
  width: 65%;
  border: 0.8px solid hsla(0, 19%, 60%, 0.652);
}

.btn {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: -35px;
}

/* media queries for laptop */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  section p {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .logo {
    width: 130px;
    height: 30px;
  }
  /* .hero-image-desktop {
    display: none;
  } */
}

/* media queries for desktop */

@media screen and (min-width: 1024px) {
  .hero-image {
    display: none;
  }
  body {
    display: flex;
  }
  .main {
    width: 50%;
  }
  .hero-image-desktop {
    background: url("../images/hero-desktop.jpg") no-repeat;
    height: 100vh;
    width: 50vw;
    object-fit: cover;
  }
}
